#header {
 margin-bottom: 60px;
}

#sidebar a {
 display: inline-block;
 margin-right: 20px;
}


footer .container {
    width: auto;
    max-width: 680px;
    padding:  15px 15px;
}

.map {
    height: 500px;
}

.map-marker {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: -20px;
    padding-top: 9px;
    border-radius: 50%;
    border: 3px solid #f44336;
    text-align: center;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-size: 12px;
    font-weight: bold;
}

