/homework2/nbproject/private/

/homework2/node_modules/
/homework2/dist/nbproject/private/
/homework3/nbproject/private/
/homework3/node_modules/
/homework4/nbproject/private/
/homework4/node_modules/
/homework5/node_modules/